[submodule "findora-api-gateway"]
	path = findora-api-gateway
	url = https://github.com/Charuka974/findora-api-gateway.git
[submodule "findora-eureka-server"]
	path = findora-eureka-server
	url = https://github.com/Charuka974/findora-eureka-server.git
[submodule "findora-config-server"]
	path = findora-config-server
	url = https://github.com/Charuka974/findora-config-server.git
[submodule "findora-config-repo"]
	path = findora-config-repo
	url = https://github.com/Charuka974/findora-config-repo.git
